.justify-center {
    display: flex;
    justify-content: center;
}

.premium-text {
    text-align: justify;
    color: #999999;
    font-size: 14px;
    margin-bottom: 20px;
}

.premium-funcs {
    
}