<section class="container">
    <div class="page-header">
        <h1>Your personal profile</h1>
        <div id="student-alert"
        class="alert alert-warning alert-dismissible fade in"
        role="alert"
        ng-show="showAlert && !user.studentMetadata.isPersonalProfileCompleted">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeWizardAlert()"><span aria-hidden="true">&times;</span></button>
        <strong>!</strong>
        Completing your profile page will result in a higher chance of employees locating you
        <strong>!</strong>
    </div>
</div>

<div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{progressPercent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progressPercent}}%">
        {{progressPercent}}%
    </div>
</div>

<div class="student-wizard-navigation" ng-show="!user.studentMetadata.isPersonalProfileCompleted">
    <button class="btn btn-lg btn-primary" ng-click="goBack()">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back
    </button>
    <div class="alert alert-info" style="margin-bottom: 0px;" ng-hide="wizardProgress === 5">
        Fields with
        <span class="glyphicon glyphicon-asterisk text-danger"></span>
        are required in order to continue.
    </div>
    <button class="btn btn-lg btn-primary" ng-click="continue()" ng-disabled="!isContinueEnabled && !user.studentMetadata.isPersonalProfileCompleted">
        Continue
        <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
</div>
<div class="student-wizard-navigation" ng-show="user.studentMetadata.isPersonalProfileCompleted">
    <button class="btn btn-lg btn-primary" ng-click="startOver()">
        <span class="glyphicon glyphicon-repeat"></span>
        Start over
    </button>
    <button class="btn btn-lg btn-primary" ng-click="goToJobsPage()">
        Browse jobs
    </button>
</div>

<uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default panel-white" heading="Profile information" is-open="wizardProgress === 1" is-disabled="true">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>First name</label>
                <span class="glyphicon glyphicon-asterisk text-danger"></span>
                <input ng-change="validateCurrentForm()" type="text" class="form-control" name="first-name" ng-model="user.studentMetadata.firstName" required>
            </div>
            <div class="form-group">
                <label>Last name</label>
                <span class="glyphicon glyphicon-asterisk text-danger"></span>
                <input ng-change="validateCurrentForm()" type="text" class="form-control" name="last-name" ng-model="user.studentMetadata.lastName" required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <span class="glyphicon glyphicon-asterisk text-danger"></span>
                <input ng-change="validateCurrentForm()" type="text" class="form-control" name="email" ng-model="user.email" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="personality">How would you describe your personality?</label>
                <span class="glyphicon glyphicon-asterisk text-danger" style="float:right;"></span>
                <textarea ng-change="validateCurrentForm(user.studentMetadata.personality)" class="form-control" rows="5" name="personality" id="personality" ng-model="user.studentMetadata.personality" required></textarea>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <label for="picture" style="margin-left:25%;">Profile picture</label>
                <div>
                    <div class="form-group text-center">
                        <img ngf-src="fileSelected ? files.picFile : user.profileImageURL" alt="{{user.studentMetadata.displayName}}" class="img-thumbnail user-profile-picture" ngf-drop>
                    </div>
                    <div ng-show="loading" class="form-group text-center">
                        <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
                    </div>
                    <div class="text-center form-group">
                        <button class="btn btn-default btn-file" ngf-select="(fileSelected = true) && (loading = false)" ng-model="files.picFile" accept="image/*" ngf-before-model-change="loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Select Picture</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div uib-accordion-group class="panel-default panel-white" heading="Skills to pay the bills" is-open="wizardProgress === 2" is-disabled="true">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Which programming languages are you comfortable using?</label>
                <select ng-model="user.studentMetadata.languages" multiple class="form-control full-width">
                    <option ng-repeat="language in programmingLanguages track by $index" value="{{language}}">{{language}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Which other technical skills do you possess?</label>
                <select ng-model="user.studentMetadata.techSkills" multiple class="form-control full-width">
                    <option ng-repeat="techSkill in technicalSkills track by $index" value="{{techSkill}}">{{techSkill}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Which soft skills do you have?</label>
                <select ng-model="user.studentMetadata.softSkills" multiple class="form-control full-width">
                    <option ng-repeat="softSkill in softSkills track by $index" value="{{softSkill}}">{{softSkill}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label for="other-skills">Would you like to share anything else that might potentially qualify you for a job/internship?</label>
                <textarea ng-model="user.studentMetadata.otherSkills" class="form-control full-width" rows="5" name="other-skills" id="other-skills"></textarea>
            </div>
        </div>
    </div>
    <div uib-accordion-group class="panel-default panel-white" heading="Upload documents" is-open="wizardProgress === 3" is-disabled="true">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Resume/CV</label>
                <span class="glyphicon glyphicon-asterisk text-danger"></span>
                <div>
                    <div class="form-group text-center">
                        <label>{{files.cv.name}}</label>
                    </div>
                    <div ng-show="loading" class="form-group text-center">
                        <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading file...">
                    </div>
                    <div class="text-center form-group">
                        <button class="btn btn-default btn-file" ngf-select="(fileSelected = true) && (loading = false)" ng-model="files.cv" accept="pdf,.doc,.docx" ngf-before-model-change="loading = true">Select file</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Statement of purpose/motivation</label>
                <span class="glyphicon glyphicon-asterisk text-danger"></span>
                <div>
                    <div class="form-group text-center">
                        <label>{{files.motivation.name}}</label>
                    </div>
                    <div ng-show="loading" class="form-group text-center">
                        <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading file...">
                    </div>
                    <div class="text-center form-group">
                        <button class="btn btn-default btn-file" ngf-select="(fileSelected = true) && (loading = false)" ng-model="files.motivation" accept="pdf,.doc,.docx" ngf-before-model-change="loading = true">Select file</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Letters of recommendation</label>
                <span class="glyphicon glyphicon-asterisk text-danger"></span>
                <div>
                    <div class="form-group text-center">
                        <label>{{files.recommendation.name}}</label>
                    </div>
                    <div ng-show="loading" class="form-group text-center">
                        <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading file...">
                    </div>
                    <div class="text-center form-group">
                        <button class="btn btn-default btn-file" ngf-select="(fileSelected = true) && (loading = false)" ng-model="files.recommendation" accept="pdf,.doc,.docx" ngf-before-model-change="loading = true">Select file</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Additional document</label>
                <div>
                    <div class="form-group text-center">
                        <label>{{files.additionalDocument.name}}</label>
                    </div>
                    <div ng-show="loading" class="form-group text-center">
                        <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading file...">
                    </div>
                    <div class="text-center form-group">
                        <button class="btn btn-default btn-file" ngf-select="(fileSelected = true) && (loading = false)" ng-model="files.additionalDocument" accept="pdf,.doc,.docx" ngf-before-model-change="loading = true">Select file</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div uib-accordion-group class="panel-default panel-white" heading="Job preferences" is-open="wizardProgress === 4" is-disabled="true">
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label>I am in my final year of study</label>
                <input type="checkbox" value="false" ng-model="user.studentMetadata.finalYear">
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label>I am currently enrolled in TU-Sofia fulltime</label>
                <input type="checkbox" value="false" ng-model="user.studentMetadata.enrolled">
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label>I want emails with job ads</label>
                <input type="checkbox" value="false" ng-model="user.studentMetadata.subscribe">
            </div>
        </div>
    </div>
    <div ng-show="user.studentMetadata.isPersonalProfileCompleted" uib-accordion-group class="panel-success" heading="Completed!" is-open="wizardProgress === 5" is-disabled="true">
        <div class="panel-body">
            Congratulations! You have successfully completed your personal profile. Start browsing the job page to discover your dream career!
        </div>
    </div>
</uib-accordion>
</section>
