<section class="container">
    <div class="page-header">
        <h1>Profile overview</h1>
    </div>
    </div>

    <uib-accordion close-others="false">
        <div uib-accordion-group class="panel-default panel-white" heading="Profile information" is-open="true" is-disabled="true">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <h3>{{user.studentMetadata.firstName}} {{user.studentMetadata.lastName}}</h3>
                </div>
                <div class="form-group">
                    <h3>{{user.email}}</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <h4 for="personality">How would you describe your personality?</h4>
                    <textarea ng-disabled="true" class="form-control" rows="5" name="personality" id="personality" ng-model="user.studentMetadata.personality"
                        required></textarea>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <div>
                        <div class="form-group text-center">
                            <img ngf-src="fileSelected ? files.picFile : user.profileImageURL" alt="{{user.studentMetadata.displayName}}" class="img-thumbnail user-profile-picture"
                                ngf-drop>
                        </div>
                        <div ng-show="loading" class="form-group text-center">
                            <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div uib-accordion-group class="panel-default panel-white" heading="Skills to pay the bills" is-open="true" is-disabled="true">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <h4>Which programming languages are you comfortable using?</h4>
                    <span class="label label-primary inline-block" ng-repeat="language in user.studentMetadata.languages">{{language}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <h4>Which other technical skills do you possess?</h4>
                    <span class="label label-primary inline-block" ng-repeat="language in user.studentMetadata.techSkills">{{language}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <h4>Which soft skills do you have?</h4>
                    <span class="label label-primary inline-block" ng-repeat="language in user.studentMetadata.softSkills">{{language}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <h4 for="other-skills">Would you like to share anything else that might potentially qualify you for a job/internship?</h4>
                    <textarea ng-disabled="true" ng-model="user.studentMetadata.otherSkills" class="form-control full-width" rows="5" name="other-skills"
                        id="other-skills"></textarea>
                </div>
            </div>
        </div>
        <div uib-accordion-group class="panel-default panel-white" heading="Upload documents" is-open="true" is-disabled="true">
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <h4>Resume/CV</h4>
                    <div>
                        <div class="form-group text-center">
                            <label>{{user.studentMetadata.cv.filename}}</label>
                        </div>
                        <div class="text-center form-group">
                            <button class="btn btn-default btn-primary" ng-click="downloadFile(user.studentMetadata.cv)" ng-disabled="!user.studentMetadata.cv._id">Download</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <h4>Statement of purpose/motivation</h4>
                    <div>
                        <div class="form-group text-center">
                            <label>{{user.studentMetadata.motivation.filename}}</label>
                        </div>
                        <div class="text-center form-group">
                            <button class="btn btn-default btn-primary" ng-click="downloadFile(user.studentMetadata.motivation)" ng-disabled="!user.studentMetadata.motivation._id">Download</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <h4>Letters of recommendation</h4>
                    <div>
                        <div class="form-group text-center">
                            <label>{{user.studentMetadata.recommendation.filename}}</label>
                        </div>
                        <div class="text-center form-group">
                            <button class="btn btn-default btn-primary" ng-click="downloadFile(user.studentMetadata.recommendation)" ng-disabled="!user.studentMetadata.recommendation._id">Download</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <h4>Additional document</h4>
                    <div>
                        <div class="form-group text-center">
                            <label>{{user.studentMetadata.additionalDocument.filename}}</label>
                        </div>
                        <div class="text-center form-group">
                            <button class="btn btn-default btn-primary" ng-click="downloadFile(user.studentMetadata.additionalDocument)" ng-disabled="!user.studentMetadata.additionalDocument._id">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div uib-accordion-group class="panel-default panel-white" heading="Job preferences" is-open="true" is-disabled="true">
            <div class="col-xs-12 col-md-4" ng-show="user.studentMetadata.finalYear">
                <div class="form-group">
                    <h4><span class="label label-primary inline-block">I am in my final year of study</span></h4>
                </div>
            </div>
            <div class="col-xs-12 col-md-4" ng-show="user.studentMetadata.enrolled">
                <div class="form-group">
                    <h4><span class="label label-primary inline-block">I am currently enrolled in TU-Sofia fulltime</span></h4>
                </div>
            </div>
            <div class="col-xs-12 col-md-4" ng-show="user.studentMetadata.subscribe">
                <div class="form-group">
                    <h4><span class="label label-primary inline-block">I want emails with job ads</span></h4>
                </div>
            </div>
        </div>
    </uib-accordion>
</section>