<section class="container" ng-show="transcripts && transcripts.length > 0">
    <div class="page-header">
        <h1>
            <small>Here you can generate a pdf transcript including all grades of your enrolled classes</small>
        </h1>
    </div>

    <div class="col-xs-12 col-sm-2">
        <button class="btn btn-primary" ng-click="generateTranscriptPdf()" ng-disabled="selectedGrades.length <= 0">
            <span class="glyphicon glyphicon-file"></span>
            Export to PDF
        </button>
    </div>
    <div class="col-xs-12 col-sm-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Select which transcripts to include in the exported document
            </div>
            <div class="panel-body">
                <table tr-ng-grid="" items="transcripts" page-items="10">
                    <thead>
                        <tr>
                            <th enable-filtering="false" enable-sorting="false" cell-width="2em"></th>
                            <th field-name="department"></th>
                            <th field-name="subjectName"></th>
                            <th field-name="grade"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" ng-click="onGradeSelect(transcripts[transcripts.indexOf(gridItem)])" />
                            </td>
                        </tr>
                        <tr>
                            <td field-name="enrolment.class.department"></td>
                        </tr>
                        <tr>
                            <td field-name="enrolment.class.subjectName"></td>
                        </tr>
                        <tr>
                            <td field-name="grade"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section class="container" ng-show="!transcripts || transcripts.length === 0">
    <div class="page-header">
        <h1>
            <small>You have not been enrolled in any classes yet. Contact your professors and check back later.</small>
        </h1>
    </div>
</section>