<section class="container">
    <div class="col-xs-12 col-md-6" ng-if="!user.premium">
        <div class="page-header">
            <h1>
                <small>Activate Premium</small>
            </h1>
        </div>
        <div>
            <div class="premium-text">
                FDIBA Career Center will always be free. However you can activate a Premium account which entitles you to extra functionalities.
            </div>
            <div class="page-header">
                <h1>
                    <small>For a one-time fee of {{premiumPaymentAmount}}&euro; you get</small>
                </h1>
            </div>
            <div class="premium-funcs premium-text">
                <ol>
                    <li>
                        You can post Premium advertisements which are shown first to students and are always on top of job searches.
                    </li>
                    <li>
                        TBD
                    </li>
                </ol>
            </div>
            <div class="page-header">
                <h1>
                    <small>Activate with PayPal with only a few clicks</small>
                </h1>
            </div>
            <div id="paypal-button" style="text-align:center;"></div>
        </div>

    </div>
    <div class="col-xs-12 col-md-6" ng-if="user.premium">
        <div class="page-header">
            <h1>
                <small>This is a Premium account.</small>
            </h1>
        </div>
        <div>
            <div class="premium-text">
                Your are running a Premium account as of <span ng-bind="user.premium.startedOn | date:'dd/MMMM/yyyy'"></span>.
            </div>
            <div class="page-header">
                <h1>
                    <small>Manage Premium account</small>
                </h1>
            </div>
            <div class="premium-text">
                <button class="btn btn-primary" ng-click="cancelPremium()">
                    Cancel Premium
                </button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="page-header">
            <h1>
                <small>Company profile</small>
            </h1>
        </div>
        <div class="student-wizard-navigation">
            <div class="alert alert-info required-alert" style="margin-bottom: 0px;">
                Fields with
                <span class="glyphicon glyphicon-asterisk text-danger"></span>
                are required in order to continue.
            </div>
            <button class="btn btn-lg btn-primary" ng-click="save()" ng-disabled="!isSaveEnabled">
                Save
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>
        <div class="panel panel-default">
            <div class="panel-body justify-center">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Company name</label>
                            <span class="glyphicon glyphicon-asterisk text-danger"></span>
                            <input ng-change="validateCurrentForm()" type="text" class="form-control" name="company-name" ng-model="user.employerMetadata.companyName"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Company website</label>
                            <span class="glyphicon glyphicon-asterisk text-danger"></span>
                            <input ng-change="validateCurrentForm()" type="text" class="form-control" name="company-website" ng-model="user.employerMetadata.companyWebsite"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Company email</label>
                            <span class="glyphicon glyphicon-asterisk text-danger"></span>
                            <input ng-change="validateCurrentForm()" type="text" class="form-control" name="company-email" ng-model="user.email" required>
                        </div>
                        <div class="form-group">
                            <label>Company phone</label>
                            <span class="glyphicon glyphicon-asterisk text-danger"></span>
                            <input ng-change="validateCurrentForm()" type="text" class="form-control" name="email" ng-model="user.employerMetadata.companyPhone"
                                required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="picture" style="margin-left:25%;">Company picture</label>
                            <div>
                                <div class="form-group text-center">
                                    <img ngf-src="fileSelected ? files.picFile : user.profileImageURL" alt="{{user.employerMetadata.displayName}}" class="img-thumbnail user-profile-picture"
                                        ngf-drop>
                                </div>
                                <div ng-show="loading" class="form-group text-center">
                                    <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
                                </div>
                                <div class="text-center form-group">
                                    <button class="btn btn-default btn-file" ngf-select="(fileSelected = true) && (loading = false)" ng-model="files.picFile"
                                        accept="image/*" ngf-before-model-change="loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Select Picture</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>