<section>
	<div id="home-image-container" class="text-center">
		<div id="home-image">
			<div id="header-container">
				<h1 id="home-title" class="white">
					FDIBA Career Center
				</h1>
				<h4 class="white" id="home-subtitle">For students. For professors. For employers.</h3>
					<div id="button-container" ng-show="!user">
						<a class="btn btn-primary btn-lg" ui-sref="authentication.signin">Sign In</a>
						<a class="btn btn-primary btn-lg" ui-sref="authentication.signup">Sign Up</a>
					</div>
			</div>
		</div>
	</div>
	<div id="home-div-2" class="home-container white">
		<h2 style="text-align: justify;">
			The FDIBA Career Center lets you register as either a student, faculty member or employer.
		</h2>
		<div class="person-container">
			<div class="col-xs-12 col-sm-12 col-md-3">
				<div class="bg-white circle">
					<div id="student-image" class="circle-image"></div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-9 full-height">
				<div class="person-text">
					As a student you can complete your career/academic profile and browse through a wide array of jobs internships. You can apply
					with ease and get connected with employers lightning fast.
				</div>
			</div>
		</div>
		<div class="person-container">
			<div class="col-xs-12 col-sm-12 col-md-3">
				<div class="bg-white circle">
					<div id="teacher-image" class="circle-image"></div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 full-height">
				<div class="person-text" class="pull-right">
					As a faculty member you can create classes and enroll students in them. You can generate reports and easily manage everyone.
				</div>
			</div>
		</div>
		<div class="person-container">
			<div class="col-xs-12 col-sm-12 col-md-3">
				<div class="bg-white circle">
					<div id="employer-image" class="circle-image"></div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-9 full-height">
				<div class="person-text">
					As an employer you can create job advertisements easily and fast. Connecting with students has never been easier.
				</div>
			</div>
		</div>
	</div>

	<div class="home-div">
		<div id="home-div-3" class="home-container col-xs-12 col-md-6">
			<h2 class="white heading">{{author}}</h2>
			<div class="circle">
				<div id="author-image" class="circle-image"></div>
			</div>
			<div id="author-text" class="white">
				{{authorText}}
			</div>
		</div>
		<div id="home-div-4" class="home-container col-xs-12 col-md-6">
			<h2 class="white heading">{{techText}}</h2>
			<div>
				<div class="col-xs-12 col-md-6" ng-repeat="techImage in techImages">
					<div class="bg-white circle">
						<div class="circle-image" style="background-image:url({{techImage}})"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>