<section>
	<div id="home-image-container" class="text-center">
		<div>
			<div id="home-image">
					<h1 class="white home-main-title">
						The FDIBA Career Center 
					</h1>
					<h3 class="white">for students, university faculty and employers</h3>
					<a class="btn btn-primary btn-lg" ui-sref="authentication.signin">Sign In</a>
					<a class="btn btn-primary btn-lg" ui-sref="authentication.signup">Sign Up</a>
			</div>
		</div>
	</div>
	<div id="home-div-2" class="home-div white">
		<h2>
			The FDIBA Career center lets you register as either a student, faculty member or employer. 
		</h2>
		<div class="col-xs-12 col-md-4">
				<p>Students can:</p>
				<ul>
					<li>
						Find jobs
					</li>
					<li>
						Find internships
					</li>
				</ul>
		</div>
		<div class="col-xs-12 col-md-4">
				<p>Faculty members can:</p>
				<ul>
					<li>
						Create classes
					</li>
					<li>
						Enrol students in classes
					</li>
					<li>
						Update transcripts of students
					</li>
				</ul>
		</div>
		<div class="col-xs-12 col-md-4">
				<p>Employers can:</p>
				<ul>
					<li>
						Create job/internship ads
					</li>
					<li>
						Create questionnaires
					</li>
				</ul>
		</div>
	</div>

	<div class="home-div">
		<div id="home-div-3" class="col-xs-12 col-md-6"></div>
		<div id="home-div-4" class="col-xs-12 col-md-6"></div>
	</div>

</section>