<section>
	<div id="home-image-container" class="text-center">
		<div>
			<div id="home-image">
				<h1 class="white home-main-title">
					The FDIBA Career Center
				</h1>
				<h3 class="white">for students, university faculty and employers</h3>
				<a class="btn btn-primary btn-lg" ui-sref="authentication.signin">Sign In</a>
				<a class="btn btn-primary btn-lg" ui-sref="authentication.signup">Sign Up</a>
			</div>
		</div>
	</div>
	<div id="home-div-2" class="white">
		<h2>
			The FDIBA Career center lets you register as either a student, faculty member or employer.
		</h2>
		<div class="col-xs-12 person-container">
			<div class="col-xs-3">
				<div class="bg-white circle">
					<div id="student-image"></div>
				</div>
			</div>
			
			<div class="col-xs-9 full-height">
				<div id="student-text">
					Students can find and apply for jobs and internships.
				</div>
			</div>
		</div>
		<div class="col-xs-12 person-container">
			<div class="col-xs-9 full-height">
				<div id="student-text">
						Faculty members can create classes, enroll students in classes and update transcripts.
				</div>
			</div>
			<div class="col-xs-3">
				<div class="bg-white circle">
					<div id="teacher-image"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 person-container">
			<div class="col-xs-3">
				<div class="bg-white circle">
					<div id="employer-image"></div>
				</div>
			</div>
			
			<div class="col-xs-9 full-height">
				<div  id="student-text">
						Employers can create job advertisements.
				</div>
			</div>
		</div>
	</div>

	<div class="home-div">
		<div id="home-div-3" class="col-xs-12 col-md-6"></div>
		<div id="home-div-4" class="col-xs-12 col-md-6"></div>
	</div>

</section>