<div class="modal-header">
    <h3 class="modal-title" id="jobs-detail-title">{{job.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <h3 class="page-header job-detail-modal-title">
        <small>
            Job description
        </small>
    </h3>
    <div>
        {{job.description}}
    </div>
    <h3 class="page-header no-margin-top">
        <small>
            Job responsibilities
        </small>
    </h3>
    <div>
        {{job.responsibilities}}
    </div>
    <h3 class="page-header no-margin-top">
        <small>
            Job requirements
        </small>
    </h3>
    <div>
        {{job.requirements}}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="apply()" style="float:left;">Apply</button>
    <button class="btn btn-primary" type="button" ng-click="closeJobDetailModal()">Close</button>
</div>
