<section class="container">
    <div class="page-header">
        <h1>
            <small>Creating new job...</small>
        </h1>
    </div>

    <div class="job-create-navigation" ng-show="creatingJobAd">
        <div class="alert alert-info required-alert" style="margin-top: 10px;" ng-hide="wizardProgress === 5">
            Fields with
            <span class="glyphicon glyphicon-asterisk text-danger"></span>
            are required in order to continue.
        </div>
        <div>
            <button class="btn btn-primary" ng-click="postJob()">
                <span class="glyphicon glyphicon-ok"></span> Post job ad
            </button>
            <div class="checkbox">
                <input id="premium-toggle" 
                type="checkbox" 
                data-toggle="toggle"
                data-onstyle="success"
                data-on="Featured" 
                data-off="Normal">
            </div>
        </div>
    </div>
    <div class="job-create-navigation" ng-show="!creatingJobAd">
        <button class="btn btn-lg btn-primary" ng-click="createInitialJobObject()">
            <span class="glyphicon glyphicon-repeat"></span> Post another
        </button>
    </div>

    <uib-accordion close-others="true">
        <div uib-accordion-group class="panel-default" heading="Please enter the job specifications below" is-open="creatingJobAd"
            is-disabled="true">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label>Position title</label>
                    <span class="glyphicon glyphicon-asterisk text-danger"></span>
                    <input type="text" ng-model="job.title" class="form-control" required placeholder="Software developer" />
                </div>
                <div class="form-group">
                    <label>Company name</label>
                    <span class="glyphicon glyphicon-asterisk text-danger"></span>
                    <input type="text" ng-disabled="!canEditCompanyFields" ng-model="job.companyName" class="form-control" required placeholder="Microsoft"
                    />
                </div>
                <div class="form-group">
                    <label>Company website</label>
                    <span class="glyphicon glyphicon-asterisk text-danger"></span>
                    <input type="text" ng-disabled="!canEditCompanyFields" ng-model="job.companyWebsite" class="form-control" required placeholder="www.microsoft.com"
                    />
                </div>
                <div class="form-group">
                    <label>Company email</label>
                    <span class="glyphicon glyphicon-asterisk text-danger"></span>
                    <input type="text" ng-disabled="!canEditCompanyFields" ng-model="job.companyEmail" class="form-control" required placeholder="helpdesk@microsoft.com"
                    />
                </div>
                <div class="form-group">
                    <label>Company phone</label>
                    <span class="glyphicon glyphicon-asterisk text-danger"></span>
                    <input type="text" ng-disabled="!canEditCompanyFields" ng-model="job.companyPhone" class="form-control" required placeholder="+359 888 888 888"
                    />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label>Job type</label>
                    <span class="glyphicon glyphicon-asterisk text-danger"></span>
                    <select ng-change="validateCurrentForm()" ng-model="job.type" required class="form-control">
                        <option ng-repeat="(key, value) in jobTypes track by $index" value="{{value}}">{{value}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Job category</label>
                    <span class="glyphicon glyphicon-asterisk text-danger"></span>
                    <select ng-change="validateCurrentForm()" ng-model="job.category" required class="form-control">
                        <option ng-repeat="(key, value) in jobCategories track by $index" value="{{value}}">{{value}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Job level</label>
                    <span class="glyphicon glyphicon-asterisk text-danger"></span>
                    <select ng-change="validateCurrentForm()" ng-model="job.level" required class="form-control">
                        <option ng-repeat="(key, value) in jobLevels track by $index" value="{{value}}">{{value}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Requirements</label>
                    <span class="glyphicon glyphicon-asterisk text-danger"></span>
                    <textarea ng-model="job.requirements" class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label>Job description</label>
                    <span class="glyphicon glyphicon-asterisk text-danger"></span>
                    <textarea ng-model="job.description" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label>Job responsibilities</label>
                    <span class="glyphicon glyphicon-asterisk text-danger"></span>
                    <textarea ng-model="job.responsibilities" class="form-control" rows="5"></textarea>
                </div>
            </div>
        </div>

        <div ng-show="!creatingJobAd" uib-accordion-group class="panel-success" heading="Success" is-open="!creatingJobAd" is-disabled="true">
            Successfully created job ad!
        </div>
    </uib-accordion>
</section>