<div class="modal-header">
    <h3 class="modal-title">{{job.title}} @ {{job.companyName}}</h3>
</div>
<div class="modal-body modal-body-scroll">
    <span class="label label-primary">Job information</span>
    <div class="no-overflow job-detail-body well">
        Category - {{job.category}}</br>
        Level - {{job.level}}</br>
        Type - {{job.type}}
    </div>
    <span class="label label-primary">Job description</span>
    <div class="no-overflow job-detail-body well">
        {{job.description}}
    </div>
    <span class="label label-primary">Job responsibilities</span>
    <div class="no-overflow job-detail-body well">
        {{job.responsibilities}}
    </div>
    <span class="label label-primary">Job requirements</span>
    <div class="no-overflow job-detail-body well">
        {{job.requirements}}
    </div>
    <span class="label label-primary">Contacts</span>
    <div class="no-overflow job-detail-body well">
        Email - {{job.companyEmail}}</br>
        Website - {{job.companyWebsite}}</br>
        Phone - {{job.companyPhone}}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
    ng-click="applyForJob(job)"
    ng-hide="hasUserApplied" style="float: left;">
    Apply
    </button>
    <button class="btn btn-success"
    ng-disabled="true"
    ng-show="hasUserApplied" style="float: left;">
    <span class="glyphicon glyphicon-ok"></span>
    Applied
    </button>
    <button class="btn btn-primary" type="button" ng-click="closeJobDetailModal()">Close</button>
</div>
