<div class="container">

    <div class="page-header alert alert-info" ng-show="jobs.length === 0">There are no ads at this moment. Please check back later.</div>

    <section ng-show="jobs.length > 0" id="main-container">
        <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group class="panel-default panel-white" heading="Featured" is-open="true">
                <div id="featured-job-carousel">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="job in jobs | filter:{isPremium: true} | limitTo:4">
                        <div class="thumbnail card placeholder-image" ng-click="popJobDetail(job)" ng-style="{'background-image':'url({{setCompanyImage(job.user.profileImageURL)}})'}">
                            <div class="image-text">
                                {{job.title}} @ {{job.companyName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion>

        <div id="jobs-find-header" class="page-header">
            <h1 class="inline">
                <small>All jobs and internships</small>
            </h1>
            <span class="badge inline" style="margin-left:5px;">{{jobs.length}}</span>
        </div>

        <div class="panel panel-default">
            <table tr-ng-grid="" fields="['title', 'companyName', 'category', 'type']" items="jobs" page-items="10">
                <tbody>
                    <tr>
                        <td>
                            <button class="btn btn-primary" ng-click="popJobDetail(jobs[jobs.indexOf(gridItem)])">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-primary" ng-click="applyForJob(jobs[jobs.indexOf(gridItem)])" ng-hide="hasUserAppliedForJob(jobs[jobs.indexOf(gridItem)])">
                                Apply
                            </button>
                            <button class="btn btn-success" ng-disabled="true" ng-show="hasUserAppliedForJob(jobs[jobs.indexOf(gridItem)])">
                                <span class="glyphicon glyphicon-ok"></span>
                                Applied
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>