<div class="modal-header">
    <div class="modal-title">Adding students to class "{{facultyClass.subjectName}}"...</div>
</div>
<div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="student in allStudents | filter:enrolled">
          <button class="btn btn-success btn-sm" ng-click="showTranscriptContainer(student)">
              <span class="glyphicon glyphicon-paste"></span>
          </button>
          {{student.displayName}}
      </li>
    </ul>
    <div class="form-group">
        <label>Enter student name</label>
        <input type="text" ng-model="studentNameFilter" class="form-control" />
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="student in allStudents | filter:nonEnrolled">
          <button class="btn btn-primary btn-sm" ng-click="addToClass(student)">
              <span class="glyphicon glyphicon-plus"></span>
          </button>
          {{student.displayName}}
      </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
</div>
