.job-create-navigation {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.accordion-body {
    display: flex;
    justify-content: space-between;
}

.break-word {
    word-wrap: break-word
}

.align-center {
    text-align: center;
}

.job-metadata {
    display: flex;
    align-content: space-between;
}

.accordion-footer {
    margin-top: 10px;
}

#featured-job-carousel {
    overflow-x: auto;
    overflow-y: hidden;
}

.placeholder-image {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}

.image-text {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0px;
    margin: 30px;
    position: absolute;
}

.carousel-caption {
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.75);
}

.panel-white > .panel-heading {
    background-image: none;
    background-color: white;
}

.inline {
    display: inline;
}

#jobs-find-header {
    display: flex;
    align-items: center;
    text-align: center;
}

.job-detail-body {
    margin: 10px 0;
}

.no-overflow {
    overflow: hidden;
}

.modal-body-scroll {
    overflow-y: scroll;
    max-height: 448px;
}

.no-margin-top {
    margin-top: 0px;
}


.card {
    height: 400px;
    width: 275px;
    margin: 10px auto;
}

.card:hover {
    border: 5px solid #007196;
}

#main-container {
    padding-top: 20px;
}

.page-header {
    margin-top: 0px;
}