#job-create-navigation {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.accordion-body {
    display: flex;
    justify-content: space-between;
}

.break-word {
    word-wrap: break-word
}

.align-center {
    text-align: center;
}

.job-metadata {
    display: flex;
    align-content: space-between;
}

.accordion-footer {
    margin-top: 10px;
}

#featured-job-carousel {
}

.carousel-caption {
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.75);
}

.panel-white > .panel-heading {
    background-image: none;
    background-color: white;
}

* {
    border-radius: 0px !important;
}

.inline {
    display: inline;
}

#jobs-find-header {
    display: flex;
    align-items: center;
    text-align: center;
}

.job-detail-modal-title {
    margin-top: 10px;
}

.no-overflow {
    overflow: hidden;
}
