.job-create-navigation {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.accordion-body {
    display: flex;
    justify-content: space-between;
}

.break-word {
    word-wrap: break-word
}

.align-center {
    text-align: center;
}

.job-metadata {
    display: flex;
    align-content: space-between;
}

.accordion-footer {
    margin-top: 10px;
}

#featured-job-carousel {
    height: 400px;
}

.placeholder-image {
    background-image: url('/modules/core/client/img/brand/placeholder.png');
    background-position: center;
    background-size: cover;
}

.carousel-caption {
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.75);
}

.panel-white > .panel-heading {
    background-image: none;
    background-color: white;
}

.inline {
    display: inline;
}

#jobs-find-header {
    display: flex;
    align-items: center;
    text-align: center;
}

.job-detail-body {
    margin: 10px 0;
}

.no-overflow {
    overflow: hidden;
}

.modal-body-scroll {
    overflow-y: scroll;
    max-height: 448px;
}

.no-margin-top {
    margin-top: 0px;
}