<div class="container">
    <h3 class="page-header">Sign up to use FDIBA Career center
    </h3>

    <uib-tabset active="active">
        <uib-tab index="$index" ng-repeat="tab in vm.userRoleTabs" ng-click="vm.selectTabObject(tab)" disable="tab.disabled">
            <uib-tab-heading>
                <i class="glyphicon {{tab.icon}} margin-right-5"></i>{{tab.title}}
            </uib-tab-heading>
            <div ng-include="vm.selectedTabTemplateUrl" ng-controller="AuthenticationController" class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4"></div>
        </uib-tab>
    </uib-tabset>
</div>
