html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    position: absolute;
    touch-action: manipulation;
}

body {
    background-color: #F4F7FA;
    font-family:'Open Sans', sans-serif, "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
}

.content {
    margin-top: 45px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1900px;
        width: 100%;
    }
}

.content .container {
    padding-top: 20px;
}

.navbar {
    padding: 0px 30px;
}

.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
.header-profile-image {
    border-radius: 50%;
    height: 28px;
    margin-right: 5px;
    opacity: 0.8;
    width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
    opacity: 1;
}
.user-header-dropdown-toggle {
    padding-bottom: 11px !important;
    padding-top: 11px !important;
}
.user-primary-account {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.error-text {
    display: none;
}
.has-error .help-block.error-text {
    display: block;
}
.has-error .help-inline.error-text {
    display: inline;
}

.navbar-inverse {
    background-image: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#home-image {
    background: url(https://cdn2.hubspot.net/hubfs/330046/2017_Images/Backgrounds/pool-desk-bg-1.jpg?t=1511213327691);
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 100px 0;
}

#home-image-container {
    height: calc(100vh - 45px);
}

textarea {
    overflow: hidden;
}

#home-title {
    text-align: left;
    text-transform: uppercase;
    font-size: 38px;
}

#home-subtitle {
    text-align: left;
}

#button-container {
   float: left;
   margin-top: 40px;
}

.white {
    color: white;
}

.home-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
    overflow: hidden;
}

#home-div-2 {
    background-color: black;
    overflow: auto;
}

#home-div-3 {
    background-color: #e54f48;
    display: flex;             
    flex-direction: column;
}

#home-div-4 {
    background-color: #52aaac;
    display: flex;             
    flex-direction: column;
}

#student-image {
    background-image: url(../img/student-icon.ico);
}
#employer-image {
    background-image: url(../img/employer-icon.ico);
}
#teacher-image {
    background-image: url(../img/teacher-icon.ico);
}

.person-text {
    font-size:20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: justify;
}

.bg-white {
    background-color: white;
}

.circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 25px auto;
}

.person-container {
    margin: 50px 0 0 0;
    height: 200px;
}

.full-height {
    height: 100%;
}

.home-container {
    padding: 40px;
}

#author-image {
    background-image: url(../img/author-image.jpg);
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.circle-image {
    float: left;
    width: 100%;
    height: 100%;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

.heading {
    text-align: center;
    font-size: 36px;
}

#author-text {
    font-size:20px;
    margin-top: 20px;
    text-align: justify;
}

#header-container {
    position: absolute;
    top: 200px;
    left: 100px;
}

@media only screen and (max-width: 600px) {
    #header-container {
        position: unset;
        margin: 0 auto;
        display: inline-block;
        width: 250px;
    }

    #button-container {
        float: none;
    }

    .required-alert {
        display: none;
    }
}

.inline {
    display: inline;
}

